/**
 * View groups
 */

.groups > li {
    margin-bottom: 2em;
    width: 100%;
}

.groups .header {
    margin-bottom: 1em;
}

.groups .header .left a {
    color: #000;
    text-decoration: none;
}

.groups .header .left a:hover {
    text-decoration: underline;
}

.groups .header .left {
    font-size: 20px;
    
    max-width: 70%;
}

.groups .description {
    font-size: 16px;
    line-height: 160%;
    margin: 0px;
}

.privileges {
    color: #777;
    font-size: 14px;
}

.groups .edit a {
    margin-right: 0px;
}