#wrapper > nav {
    @extend .clearfix;
    
    border-bottom: 1px solid #eee;
    
    padding: 0px 0px;
    
    ul {
        @extends .clearfix;
        
        padding: 0px 10px;
        
        li {
            border-right: 1px solid #eee;
            font-size: 14px;
            
            float:left;
            
            a {
                display: block;
                padding: 10px 15px;
                color: #888;
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.017);
                    
                    color: #aaa;
                    text-decoration: none;
                }
            }
        }
    }
}