#wrapper > article.posts {
    p.description,
    p.info {
        font-size: 14px;
    
        margin-bottom: $p-margin * 0.75;
    }
    
    .post {
        border-bottom: 1px solid #eee;
        
        p {
            padding: 0px 20px;
        }
        
        p.info {
            margin-bottom: 0px;
        }
    }
}