body > article.modify {
    @extend .fluid;
    
    margin-top: 40px;
    
    > h1 {
        font-weight: normal;
        
        margin-bottom: 20px;
        margin-left: 15%;
        padding-bottom: 16px;
        
        > .right .button {
            font-size: 12px;
            vertical-align: top;
        }
    }
    
    form {
        @extend .clearfix;
        
        > .clearfix {
            margin-bottom: 20px;
        }
        
        .clearfix {
            .left {
                width: 15%;
            }
            
            .right {
                width: 85%;
            }
        }
        
        input,
        textarea,
        select {
            outline: none;
        }
        
        p.error {
            color: #e87373;
            font-size: 12px;
            line-height: 160%;
            
            display: block;
            float: right;
            padding: 5px 11px;
        }
        
        input, 
        textarea {
            background-color: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            
            box-sizing: border-box;
            display: block;
            padding: 10px;
            width: 100%;
            
            &:focus ~ div.tooltip {
                opacity: 1;
            }
        }
        
        div.field-name {
            color: #888;
            font-size: 12px;
            line-height: 19px;
            text-align: right;
            
            padding: 11px;
        }
        
        div.tooltip {
            color: #888;
            font-size: 12px;
            line-height: 160%;
            
            display: block;
            padding: 5px 11px;
            
            a {
                color: #88c;
                text-decoration: underline;
                
                &:hover {
                    color: #000;
                }
            }
        }
        
        textarea {
            line-height: 160%;
            
            height: 180px;
            min-height: 180px;
            max-width: 100%;
        }
        
        .markdown {
            font-family: Menlo, Monaco, monospace;
            font-size: 14px;
            
            height: 400px;
            min-height: 400px;
        }
        
        select {
            background-color: #fff;
            border: 1px solid #ccc;
            font-size: 12px;
            
            margin-top: 11px;
            width: 25%;
        }
        
        button {
            @extend .button;
            
            font-size: 12px;
            
            float: right;
            padding: 8px 20px;
        }
    }
}