form.modify {
    @extend .clearfix;

    > .clearfix {
       margin-bottom: 10px;
    }

    input,
    textarea,
    select {
       outline: none;
    }

    .field {
       margin-bottom: 30px;
   
       .field-name {
           padding-top: 10px;
           width: 18%;
       
           label {
               color: #444;
               font-size: 14px;
               line-height: 140%;
           
               padding-right: 10px;
               padding-bottom: 4px;
           }
       }
   
       .tooltip {
           color: #888;
           font-size: 12px;
           line-height: 140%;
       
           display: block;
       
           a {
               color: #88c;
               text-decoration: underline;
           
               &:hover {
                   color: #000;
               }
           }
       }
   
       .element {
           width: 82%;
       
           p.error {
               color: #e87373;
               font-size: 12px;
               line-height: 160%;
           
               display: block;
               padding: 5px 0px;
           }
       }
    }

    input, 
    textarea {
       border: 1px solid #d8d8d8;
       border-radius: 4px;
       font-size: 14px;
   
       box-sizing: border-box;
       display: block;
       padding: 10px;
       width: 100%;
   
       &:focus {
           border-color: $blue-color;
       }
    }

    textarea {
       line-height: 160%;
   
       height: 180px;
       min-height: 180px;
       max-width: 100%;
    }

    .markdown {
       font-size: 14px;
   
       height: 400px;
       min-height: 400px;
    }

    select {
       background-color: #fff;
       border: 1px solid #ccc;
       font-size: 12px;
   
       margin-top: 10px;
       width: 50%;
    }

    button {
       font-size: 12px;
   
       float: right;
       padding: 8px 20px;
    }
}

form.modify .container {
    h2 {
        color: #666;
        font-size: 16px;
        font-weight: normal;
        
        margin: 0px;
        margin-bottom: 15px;
    }
    
    .field {
        margin-bottom: 20px;
        
        label {
            font-size: 12px;
            
            display: block;
            margin-bottom: 10px;
            width: 100%;
        }
        
        .element {
            width: 100%;
            
            > * {
                font-size: 12px;
                padding: 8px;
            }
        }
    }
}