article.view {
    @extend .fluid;
    
    margin-top: 20px;
    
    > h1 {
        font-weight: normal;
        
        margin-bottom: 20px;
        
        > .right .button {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    
    .columns div table {
        td.edit {
            text-align: right;
            
            .button {
                display: inline-block;
                max-width: 120px;
            }
        }
        
        border: 1px solid #e8e8e8;
        border-bottom: 0px;
        
        width: 100%;
        
        tr:first-child {
            border-bottom: 1px solid #e8e8e8;
        }
        
        th {
            color: #000;
            font-size: 14px;
            font-weight: normal;
            white-space: nowrap;
            
            padding: 20px 10px;
            text-align: left;
        }
        
        tr {
            border-bottom: 1px solid #e8e8e8;
        }
        
        td {
            color: #666;
            font-size: 12px;
            line-height: 160%;
            padding: 10px;
            
            .button {
                font-size: 12px;
                
                margin: 0px;
                padding: 5px 10px;
            }
        }
        
        td.title,
        td.url {
            width: 15%;
        }
    }
    
    .pagination {
        text-align: center;
        
        margin-top: 30px;
        
        .button {
            display: inline-block;
            width: auto;
        }
        
        a, span {
            
        }
    }
    
    .button {
        font-size: 12px;
        
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .posts {
        font-size: 0px;
        
        li {
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            font-size: 14px;
            vertical-align: top;
            
            display: inline-block;
            margin-bottom: 15px;
            width: 31%;
            
            &:nth-child(3n + 2) {
                margin-left: 3.5%;
                margin-right: 3.5%;
            }
            
            .header {
                border-bottom: 1px solid #ddd;
                line-height: 20px;
                
                padding: 8px;
                
                .left {
                    width: 70%;
                    
                    a {
                        color: #888;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
                .button {
                    font-size: 10px;
                    line-height: 100%;
                    
                    margin: 0px;
                    padding: 4px;
                    width: auto;
                }
            }
            
            p {
                color: #666;
                font-size: 12px;
                line-height: 160%;
                
                padding: 8px;
                padding-bottom: 0px;
                margin-bottom: 16px;
            }
        }
    }
}