@import "views/templates";

article.view {
    h1 .button {
        vertical-align: middle;
        
        display: inline-block;
        margin: 0px;
        width: auto;
    }
    
    .view {
        border: 1px solid #e8e8e8;
        border-radius: 8px;
    }
    
    .view table {
        td.edit {
            box-sizing: content-box;
            white-space: nowrap;
            text-align: right;
            
            a {
                font-size: 16px;
                text-decoration: none;
            }
        }
        
        width: 100%;
        
        th {
            color: #000;
            font-size: 14px;
            font-weight: normal;
            white-space: nowrap;
            
            padding: 12px;
            text-align: left;
        }
        
        tr {
            border-bottom: 1px solid #e8e8e8;
            
            &:last-child {
                border-bottom: 0px;
            }
        }
        
        td {
            color: #666;
            font-size: 12px;
            line-height: 160%;
            padding: 10px;
            
            .button {
                font-size: 12px;
                
                margin: 0px;
                padding: 5px 12px;
            }
        }
        
        td.title,
        td.url {
            width: 15%;
        }
    }
    
    .pagination {
        margin-top: 20px;
        
        .button {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    
    .button {
        font-size: 12px;
    }
}