{% assign items = include.items %}

<ul>
{% for item in items %}
  {% assign item_url = item | prepend:"/articles/" | append:"/" %}
  {% if item_url == page.url %}
    {% assign c = "current" %}
  {% else %}
    {% assign c = "" %}
  {% endif %}

  {% for article in site.articles %}
    {% if article.url == item_url %}
      <li class="{{ c }}">
        <a href="{{ site.baseurl }}{{ article.url }}">
          {{ article.title }}
        </a>
      </li>
      {% break %}
    {% endif %}
  {% endfor %}

{% endfor %}
</ul>
