@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import 'modules/normalize';
@import 'modules/reset';
@import 'modules/variables';
@import 'modules/common';
@import 'modules/header';
@import 'modules/navigation';
@import 'modules/footer';

// Admin modules

@import 'modules/actions/view';
@import 'modules/actions/modify';

body {
    padding-top: 50px;
}