.templates li {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    font-size: 14px;
    vertical-align: top;
    
    float: left;
    margin-bottom: 15px;
    margin-right: 2%;
    overflow: hidden;
    padding-bottom: 4px;
    width: 31%;
    
    .screenshot {
        background-color: #f8f8f8;
        background-position: center center;
        background-size: cover;
        
        padding-top: 100%;
        width: 100%;
    }
    
    .header {
        border-top: 1px solid #e8e8e8;
        line-height: 20px;
        
        padding: 8px;
        padding-bottom: 6px;
        
        .left {
            width: 70%;
            
            a {
                color: #888;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .button {
            background-color: #fff;
            border: 0px;
            font-size: 12px;
            line-height: 100%;
            
            margin: 0px;
            padding: 4px 0px;
            width: auto;
        }
    }
    
    p {
        color: #666;
        font-size: 12px;
        line-height: 140%;
        
        padding: 2px 8px;
    }
}