article.view .templates,
article.view .posts {
    font-size: 0px;
    
    li {
        border: 1px solid #e8e8e8;
        font-size: 14px;
        vertical-align: top;
        
        display: inline-block;
        margin-bottom: 15px;
        width: 31%;
        
        padding-bottom: 4px;
        
        &:nth-child(3n + 2) {
            margin-left: 3.5%;
            margin-right: 3.5%;
        }
        
        .header {
            border-bottom: 1px solid #ddd;
            line-height: 20px;
            
            padding: 8px;
            margin-bottom: 4px;
            
            .left {
                width: 70%;
                
                a {
                    color: #888;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
            .button {
                font-size: 10px;
                line-height: 100%;
                
                margin: 0px;
                padding: 4px;
                width: auto;
            }
        }
        
        p {
            color: #666;
            font-size: 12px;
            line-height: 160%;
            
            padding: 4px 8px;
        }
    }
}