/**
 * mini_blog.css
 * 
 * Admin panels styles
 * 
 * @author volter9
 * @package mini_blog
 */

#mini_editor {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 70px;
}

#mini_editor .button {
    background-color: rgba(0, 0, 0, 0.75);
    border: 0px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    
    margin-bottom: 6px;
    padding: 8px 0px;
    width: 100%;
}

#mini_editor .button:hover {
    text-decoration: underline;
}

#mini_editor.visible {
    display: block;
    opacity: 1;
}

#mini_editor.hidden {
    display: none;
    opacity: 0;
}

[contenteditable] {
    display: block;
}

[data-component=add] {
    background-color: #ddd;
    border: 0px;
    color: #666;
    font-size: 2em;
    font-weight: bold;
    
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    padding-bottom: 10px;
    width: 100%;
}