/**
 * mini_blog.css
 * 
 * Admin panels styles
 * 
 * @author volter9
 * @package mini_blog
 */

#mini_editor {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 45px;
}

#mini_editor .button,
.dropdown .button {
    background-color: rgba(0, 0, 0, 0.75);
    border: 0px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    
    margin-bottom: 6px;
    padding: 8px 8px;
}

#mini_editor .button:hover {
    text-decoration: underline;
}

#mini_editor.visible {
    display: block;
    opacity: 1;
}

#mini_editor.hidden {
    display: none;
    opacity: 0;
}

[contenteditable] {
    display: block;
}

[data-component=add] {
    background-color: #ddd;
    border: 0px;
    color: #666;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    padding-bottom: 10px;
    width: 100%;
}

/**
 * mini_blog panel
 */

#mini_panel {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    padding: 0em 1em;
}

#mini_panel a {
    color: #888;
}

#mini_panel a:hover {
    color: #556;
    text-decoration: none;
}

#mini_panel li {
    font-size: 14px;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    float: left;
    padding: 1em 0.8em;
}

/**
 * Status bar 
 */

#mini_panel .status-bar {
    color: #666;
}

#mini_panel .success {
    color: #5c4;
}

#mini_panel .failure {
    color: #d54;
}

#mini_panel .title {
    font-size: 16px;
    
    margin-bottom: 0.5em;
}

/**
 * Dropdown
 */

.dropdown {
    background-color: #fff;
    border-radius: 10px;
    
    position: absolute;
    top: 3em;
    left: 0px;
    
    padding: 0.75em;
    width: 280px;
}

.dropdown .button {
    text-align: left;
    
    width: 100%;
}

.dropdown .button:last-child {
    margin-bottom: 0px;
}

.dropdown .fa {
    font-size: 14px;
}

.hidden {
    display: none;
}

.settings .setting {
    margin-top: 0.8em;
}

.settings .setting input {
    font-size: 12px;
    
    display: block;
    margin-top: 0.5em;
    padding: 0.25em;
    width: 100%;
}

.settings button {
    margin-top: 1em;
}