/**
 * mini_blog.css
 * 
 * Admin panels styles
 * 
 * @author volter9
 * @package mini_blog
 */

#mini_panel {
    background-color: rgba(255, 255, 255, 0.5);
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9002;
}

#mini_panel .separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#mini_panel .button {
    background-color: transparent;
    border: 0px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    
    display: block;
    padding: 14px;
}

#mini_panel.visible {
    display: block;
    opacity: 1;
}

#mini_panel.hidden {
    display: none;
    opacity: 0;
}

#mini_panel a {
    color: #888;
}

#mini_panel a:hover {
    color: #556;
    text-decoration: none;
}

/**
 * Status bar 
 */

#mini_panel .status-bar {
    color: #666;
}

#mini_panel .success {
    color: #5c4;
}

#mini_panel .failure {
    color: #d54;
}

.m-editor {
    position: absolute;
    top: 0px;
    right: 0px;
    
    font-size: 0px;
}

.m-editor .button {
    background-color: #444;
    border: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    
    padding: 6px;
}

.m-editor .button:last-child {
    margin-left: 1px;
}

.m-editor .edit,
.m-editor .editing {
    border-radius: 4px;
    overflow: hidden;
}