/**
 * mini_framework style sheet
 * 
 * Special thanks to BaNru for some help on styles
 * 
 * @author volter9
 * @package mini_framework
 */

/**
 * Global styles
 */

* {
    box-sizing: border-box;
}

html, 
body {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}

html, 
body,
ul,
ol {
    margin: 0px;
    padding: 0px;
}

a {
    color: #375bd0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/**
 * Common and unique styles
 */

.fluid {
    margin: 0px auto;
    width: 900px;
}

.clearfix:after {
    content: "";
    font-size: 0px;
    visibility: none;
    
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.button {
    border: 1px solid #7ea4ff;
    border-radius: 4px;
    color: #118bf8;
    
    padding: 8px 28px;
}

.button:hover,
.button.disabled,
.button.active {
    background-color: #118bf8;
    border: 1px solid #118bf8;
    color: #fff;
    text-decoration: none;
}

/**
 * Menu
 */

nav {
    border-bottom: 1px solid #ececec;
}

nav > .fluid {
    padding: 16px;
}

nav ul {
    font-size: 0px;
}

nav ul li {
    font-size: 14px;
    text-transform: lowercase;
    
    display: inline-block;
    margin-left: 32px;
}

/**
 * Styles
 */

.wrapper {
    border-bottom: 1px solid #ececec;
    
    padding: 60px 0px;
}

.wrapper > * {
    padding: 0px 48px;
}

.wrapper > section h1,
.wrapper > section h2,
.wrapper > section h3 { 
    margin: 0px;
    margin-bottom: 16px; 
}

.wrapper > section h1 { font-size: 32px }
.wrapper > section h2 { font-size: 28px }
.wrapper > section h3 { font-size: 24px }

.wrapper > section p {
    line-height: 160%;
    
    margin: 0px;
}

.wrapper > section .group {
    font-size: 0px;
    text-align: center;
    
    margin-top: 32px;
}

.wrapper > section .group .button {
    font-size: 14px;
    
    margin-right: 10px;
    display: inline-block;
}

/**
 * Centered content
 */
.centered {
    padding: 0px 96px;
}

.centered h1,
.centered p {
    text-align: center;
}

.centered pre {
    display: block;
}

.centered pre code {
    background-color: #f6f6f6;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 140%;
    
    display: block;
    margin-top: 32px;
    padding: 16px;
}

/**
 * Features
 */

.features {
    margin-top: 32px;
}

.features li {
    margin-bottom: 20px;
}

.features li:last-child {
    margin-bottom: 0px;
}

.features .left {
    background-color: #ececec;
    border-radius: 10px;
    overflow: hidden;
    
    height: 200px;
    width: 200px;
}

.features .left img {
    width: 100%;
    height: 100%;
}

.features .right {
    float: none;
    padding-left: 220px;
}

.features .right h3 {
    line-height: 0.8em;
}

.features .right p {
    margin-bottom: 1em;
}

/**
 * Posts
 */

.posts {
    padding: 0px 16px;
}

.posts .post h1 { font-size: 24px }
.posts .post h2 { font-size: 22px }
.posts .post h3 { font-size: 20px }
.posts .post h4 { font-size: 16px }
.posts .post h5 { font-size: 12px }
.posts .post h6 { font-size: 10px }

.posts h2 .right {
    color: #ccc;
}

.posts h2 a {
    color: #000;
}

.posts .post {
    margin-bottom: 32px;
}

/**
 * Post
 */

.post h1 { font-size: 28px }
.post h2 { font-size: 24px }
.post h3 { font-size: 22px }
.post h4 { font-size: 20px }
.post h5 { font-size: 16px }
.post h6 { font-size: 12px }

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin: 0px;
    margin-bottom: 1em;
}

.post h1:first-child {
    margin-bottom: 0.5em;
}

.post p {
    font-size: 16px;
    line-height: 160%;
    
    margin: 0px;
    margin-bottom: 1em;
}

.post ul,
.post ol {
    list-style: square;
    
    margin: 0px;
    margin-bottom: 1em;
    padding-left: 2em;
}

.post ul li,
.post ol li {
    margin-bottom: 0.2em;
}

.post blockquote {
    border-left: 2px solid #ccc;
    
    margin: 0px;
    margin-bottom: 1em;
    padding: 0px;
    padding-left: 1em;
}

.post blockquote p {
    font-size: 14px;
    
    margin: 0px;
}

.post pre code {
    background-color: #f6f6f6;
    border-radius: 8px;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: 14px;
    line-height: 140%;
    
    margin: 0px;
    margin-bottom: 1em;
    padding: 10px;
}

.post .info {
    color: #aaa;
    font-size: 13px;
}

/**
 * Pagination
 */

.pagination {
    text-align: center;
    
    margin-top: 32px;
}

.pagination .button {
    font-size: 12px;
    
    padding: 4px 10px;
}

/**
 * Footer
 */

footer {
    padding: 32px 16px;
    padding-bottom: 96px;
}

footer h4 {
    font-size: 18px;
    text-align: center;
    
    margin: 0px;
}

footer p {
    font-size: 12px;
    line-height: 160%;
    
    margin: 0px;
    padding-top: 4px;
}

footer .clearfix > * {
    width: 33.33%;
}

footer .clearfix .right {
    text-align: right;
}