#wrapper > article {
    box-sizing: border-box;
    
    .pagination {
        @extend .fluid;
        
        text-align: center;
        
        padding: 10px 0px;
        
        a, span {
            font-size: 14px;
            
            padding: 2px 4px;
        }
    }
}