body > article {
    background-color: #fff;
    
    box-sizing: border-box;
    
    p {
        color: #333;
        // font-family: sans-serif;
        font-size: 16px;
        line-height: 150%;
    }
    
    .pagination {
        @extend .fluid;
        
        text-align: center;
        
        padding: 10px 0px;
        
        a, span {
            font-size: 14px;
            
            padding: 2px 4px;
        }
    }
}