body > header {
    @extend .clearfix;
    
    // background-color: #f8f8f8;
    border-bottom: 1px solid $secondary-color;
    
    padding: 30px 0px;
    
    h1 {
        font-size: 14px;
        font-weight: normal;
        
        float: left;
        
        a {
            color: #aaa;
            
            &:hover {
                color: #000;
            }
        }
        
        small {
            font-size: 50%;
        }
    }
    
    ul {
        @extend .clearfix;
        
        float: right;
        margin-left: 20px;
        
        li {
            font-size: 14px;
            
            float: left;
            margin-left: 20px;
            
            a:hover {
                color: #888;
            }
        }
    }
}