body > header {
    > div {
        box-sizing: border-box;
        padding: 15px 10px;
    }
    
    h1 {
        font-size: 32px;
        font-weight: 100;
        
        a {
            color: #000;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}