/**
 * minimalist 'minimalism' theme for mini_blog styles
 * 
 * @author volter9
 * @package mini_blog
 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
}

/**
 * Custom styles
 */

html,
body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px
}

a {
    color: #aaa;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.clearfix:after {
    content: "";
    font-size: 0px;
    visibility: hidden;
    clear: both;
    display: block;
    height: 0px;
    width: 100%
}

.left  { float: left }
.right { float: right }

.fluid {
    margin: 0px auto;
    width: 900px
}

#wrapper {}

#header {
    margin-bottom: 1.5em;
}

#header > div {
    box-sizing: border-box;
    padding: 15px 0px;
}

#header h1 {
    font-size: 40px;
    font-weight: 100;
}

#header h1 a {
    color: #000
}

#header h1 a:hover {
    text-decoration: none
}

#navigation {
    padding: 0px 0px;
    float: left;
}

#navigation ul li {
    font-size: 14px;
    float: left;
}

#navigation ul li a {
    display: block;
    margin-right: 20px;
    margin-top: 6px;
    color: #666
    
    vertical-align: bottom;
}

#navigation ul li a:hover {
    color: #999;
}

/**
 * Error page
 */

article.error {
    margin-top: 20px;
    margin-bottom: 40px
}

article.error > .left {
    box-sizing: border-box;
    padding-right: 20px;
    width: 72%
}

article.error > .right {
    width: 28%
}

article.error p {
    font-size: 15px;
    margin-bottom: 15px
}

article.error pre {
    background-color: #f4f4f4;
    border-left: 3px solid #ccc;
    font-family: Menlo, Monaco, monospace;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 0px;
    padding-left: 20px
}

article.error code {
    background-color: #e8e8e8;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 1px 2px
}

article.error ul li {
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 8px
}

#wrapper > article {
    box-sizing: border-box
}

.pagination {
    margin-bottom: 1em;
}

.pagination a,
.pagination span {
    font-size: 14px;
    padding: 2px 4px
}

.post {
    margin-bottom: 2em;
}

.post .post-title {
    font-size: 28px;
    
    margin-top: 0px;
    margin-bottom: 2px;
}

.post > * {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    color: #333;
    font-weight: normal;
    line-height: 100%;
    
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
    color: #444
}

.post h1 {
    font-size: 28px
}

.post h2 {
    font-size: 22px
}

.post h3 {
    font-size: 18px
}

.post > *:last-child {
    margin-bottom: 0px
}

.post p {
    color: #333;
    font-size: 16px;
    line-height: 150%
}

.post .info {
    color: #aaa;
    font-size: 12px;
    
    margin-bottom: 0.75em
}

.post .info a {
    color: #777;
}

.post p,
.post blockquote,
.post ul {
    margin-bottom: 0.75em;
}

.post p:last-child,
.post blockquote:last-child,
.post ul:last-child {
    margin-bottom: 0px
}

.post p code {
    border: 1px solid #ccf;
    border-radius: 2px;
    color: #08e;
    font-size: 80%;
    padding: 2px 4px
}

.post iframe {
    display: block;
    margin: 0px auto;
    margin-bottom: 1em;
    max-width: 95%
}

.post ul {
    list-style-type: square;
    padding-left: 45px
}

.post ul li {
    font-size: 14px;
    line-height: 150%
}

.post blockquote {
    border-left: 3px solid #ccc;
    color: #666;
    line-height: 140%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 10px;
}

.post blockquote p {
    font-size: 14px;
    padding: 5px 0px
}

.post pre {
    font-family: Menlo, Monaco, monospace;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden
}

.post pre code {
    font-family: inherit;
    line-height: 140%;
    
    padding: 10px;
}

.post img {
    margin: 20px;
    margin-top: 0px
}

.posts .description {
    font-size: 14px;
    margin-bottom: 15px
}

.posts .post:last-child {
    margin-bottom: 0px;
}

/**
 * Footer
 */

#footer {
    box-sizing: border-box;
    padding-bottom: 20px
}

#footer p {
    color: #888;
    font-size: 14px
}