@import "common.css";

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: normal;
}
/**
 * Form
 */

.form .field {
    margin: 0px;
}

.form .field-label {
    font-size: 14px;
    text-align: left;
    
    display: block;
    padding: 8px 0px;
    width: 100%;
}

.form .field-element {
    width: 100%;
    margin-bottom: 0.5em;
}

.form input,
.form textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 140%; 
    
    display: block;
    padding: 8px;
    width: 100%;
}

.form textarea {
    height: 20em;
    max-width: 100%;
}

.form button {
    margin-top: 10px;
}

/**
 * Buttons
 */

.button-block {
    display: block;
    width: 100%;
}

.button-large {
    font-size: 14px;
    
    padding: 0.75em 1em;
}

/**
 * Auth specific styles
 */

.form-wrapper button {
    margin-top: 1.5em;
}

.form-wrapper {
    padding: 16px;
}

#wrapper {
    margin: 0px auto;
    padding-top: 10px;
    width: 400px;
}

#mini_blog {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    
    margin-top: 0.5em;
    margin-bottom: 8px;
}