.errors {
    border: 1px solid #fcc8c8;
    border-radius: 4px;
    
    margin-bottom: 1em;
    padding: 10px;
    
    p {
        color: #e87373;
        font-size: 12px !important;
    
        margin: 0px !important;
    }
}

body.auth {
    .wrapper {
        margin: 0px auto;
        margin-top: 160px;
        width: 350px;
        
        h1 {
            font-weight: 100;
            
            margin-bottom: 10px;
            padding: 0px 10px;
        }
        
        p {
            font-size: 12px;
            text-align: center;
            
            a {
                color: #aaa;
                
                &:hover > span {
                    border-bottom: 1px solid #aaa;
                }
            }
        }
        
        form {
            @extend .clearfix;
            
            border: 1px solid #ddd;
            border-radius: 4px;
            
            margin-bottom: 15px;
            padding: 20px;
            
            p {
                line-height: 140%;
                text-align: left;
                
                span.error {
                    color: #e87373;
                    font-size: 11px;
                    
                    display: block;
                    margin-top: 4px;
                    padding: 0px 9px;
                }
            }
            
            label {
                display: block;
                margin-bottom: 20px;
            }
            
            input {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                outline: none;
                
                box-sizing: border-box;
                display: block;
                padding: 8px;
                width: 100%;
                
                &:focus {
                    border: 1px solid #bbb;
                }
            }
            
            button {
                border-radius: 4px;
                font-size: 12px;
                outline: none;
                
                float: right;
                padding: 8px 16px;
            }
        }
    }
}