html, body {
    font-family: 'Open Sans';
    
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

a {
    color: $link-color;
    text-decoration: none;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: normal;
    
    margin: 0px;
    margin-bottom: 1em;
}

a.link {
    text-decoration: underline;
    
    &.blue {
        color: $blue-text;
    }
    
    &.green {
        color: $green-text;
    }
    
    &.red {
        color: $red-text;
    }
}

.clearfix {
    &:after {
        content: "";
        font-size: 0px;
        visibility: hidden;
        
        clear: both;
        display: block;
        height: 0px;
        width: 100%;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
}

.fluid {
    margin: 0px auto;
    width: 900px;
}

.button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    font-size: 14px;
    text-align: center;
    
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 10px;
    
    &:hover,
    &.disabled {
        border-color: #e8e8e8;
        color: #999;
    }
    
    &.blue {
        border: 1px solid $blue-color;
        color: $blue-text;
        
        &:hover {
            border-color: $light-blue-color;
        }
    }
    
    &.green {
        border: 1px solid $green-color;
        color: $green-text;
        
        &:hover {
            border-color: $light-green-color;
        }
    }
    
    &.red {
        border: 1px solid $red-color;
        color: $red-text;
        
        &:hover {
            border-color: $light-red-color;
        }
    }
}

#content {
    padding: 20px;
}