#content > article {
    @extend .fluid;
    
    margin-top: 20px;
    
    h1 {
        font-size: 28px;
        font-weight: normal;
        
        margin-bottom: 16px;
        padding-bottom: 8px;
        
        > .right .button {
            font-size: 12px;
            vertical-align: top;
            
            margin: 0px;
            padding: 8px 16px;
        }
    }
}