.grid {
    @extends .clearfix;
    
    > * {
        float: left;
    }
    
    &.grid-c2 > * {
        width: 50%;
    }
    
    &.grid-c3 > * {
        width: 33%;
    }
    
    &.grid-c3 > * {
        width: 25%;
    }
}