body > header {
    @extend .clearfix;
    
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    
    background-color: rgba(255, 255, 255, 0.85);
    border-right: 1px solid #e8e8e8;
    
    width: 280px;
    
    h1 {
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        
        padding: 20px;
        
        a {
            color: #000;
            
            padding-bottom: 4px;
            
            &:hover {
                color: #aaa;
            }
        }
    }
    
    .profile {
        color: #aaa;
        font-size: 12px;
        line-height: 140%;
        text-transform: lowercase;
        
        padding: 10px 20px;
        
        a {
            color: #aaa;
        }
    }
    
    > ul {
        @extend .clearfix;
                
        > li {
            background-color: #f9f9f9;
            font-size: 12px;
            // text-transform: lowercase;
            
            margin-bottom: 2px;
            
            a {
                color: #777;
                
                display: block;
                padding: 18px;
                
                &:hover {
                    color: #aaa;
                }
            }
            
            ul {
                background-color: #fff;
                display: block;
                
                li {
                    border-bottom: 1px solid #eee;
                    font-size: 12px;
                    
                    &:last-child {
                        border-bottom: 0px;
                    }
                    
                    > a {
                        display: block;
                        padding: 10px 20px;
                    }
                }
            }
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.01);
            }
        }
    }
}