article.index {
    .right ul {
        color: #888;
    
        > li {
            margin-bottom: 12px;
        
            ul {
                font-size: 14px;
            
                li {
                    margin-top: 8px;
                
                    a {
                        color: #888;
                    }
                }
            }
        }
    }
    
    p {
        line-height: 140%;
        
        margin-bottom: 1em;
    }
    
    .left {
        ul {
            list-style: square;
        }
        
        ol {
            list-style: decimal;
        }
        
        ul, ol {
            font-size: 14px;
            line-height: 140%;
            
            padding-left: 2em;
            
            li {
                margin-bottom: 0.5em;
            }
            
            ul, ol {
                padding-top: 0.5em;
            }
        }
        
        > ul, > ol {
            margin-bottom: 1em;
        }
        
        code {
            background-color: $blue-text;
            border-radius: 4px;
            color: #fff;
            font-size: 90%;
            
            padding: 2px 4px;
        }
    }
}