$wrapper-width: 900px;

// Colors
$link-color: #000;
$secondary-color: #ccc;
    
$blue-color: #7ea4f8;
$blue-text: #4ea6f8;
$light-blue-color: lighten($blue-color, 10%);

$green-color: #54cd20;
$green-text: #54cd20;
$light-green-color: lighten($green-color, 10%);

$red-color: #f8547e;
$red-text: #f8547e;
$light-red-color: lighten(#f8547e, 10%);