/**
 * View posts
 */

.posts li {
    margin-bottom: 2em;
    width: 33%;
}

.posts li:nth-child(3n + 1) {
    clear: both;
    padding-right: 10px;
}

.posts li:nth-child(3n + 2) {
    padding-left: 5px;
    padding-right: 5px;
}

.posts li:nth-child(3n + 3) {
    padding-left: 10px;
}

.posts .header {
    margin-bottom: 10px;
}

.posts .header .left {
    font-size: 16px;
    
    max-width: 70%;
}

.posts .description {
    color: #888;
    font-size: 12px;
    line-height: 160%;
}

.posts .edit a {
    margin-right: 0px;
    width: 20px;
}

/**
 * Modify posts
 */