/**
 * View posts
 */

.posts > li {
    margin-bottom: 2em;
    width: 100%;
}

.posts .header {
    margin-bottom: 2px;
}

.posts .header .left a {
    color: #000;
    text-decoration: none;
}

.posts .header .left a:hover {
    text-decoration: underline;
}

.posts .header .left {
    font-size: 20px;
    
    
    max-width: 70%;
}

.posts .description {
    color: #777;
    font-size: 14px;
    line-height: 160%;
}

.posts .date {
    color: #aaa;
    font-size: 12px;
}

.posts .edit a {
    margin-right: 0px;
}